.seconds-wrap{
	background: #000;
	color: #fff;
}

.seconds-wrap .pl-content-pad{
	padding: 130px 0;
}

.seconds-text{
	font-family: "din-condensed-web"; 
	text-transform: uppercase;
	line-height: 1.1em;
	letter-spacing: 0;
	text-align: center;
}
.seconds-text a {
	text-decoration: underline;
}
.seconds-text a:hover {
	opacity: .8;
	color: inherit;
	text-decoration: underline;
}