.signup-center{
	text-align: center;
}
.signup-center .signup-input{
	vertical-align: top;
	margin: 5px;
	width: auto;
	height: auto;
}

.signup-input.the-email{
	font-size: 30px;
	padding: 5px 25px;
	line-height: 1.5em;
}

.signup-input.btn-signup{
	font-size: 25px;
}

.messages{
	font-family: 'open sans', 'helvetica neue', helvetica, arial;
	font-size: 14px;
	font-weight: 600;
}